<section id="footer" class="section-p1" >

    <div class="col">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
        <a href=""><i class="fa-brands fa-square-instagram"></i></a>
       
    </div>

    <div class="col">
        <a href="sobre.html">sobre nós</a>
        <a href="privacidade">Declaração de privacidade</a>
        <a href="cookies">cookies</a>
    </div>
    <div class="col">
        <a href="política.html">As nossas Políticas</a>
        <a href="trafico.html">Política em relação ao tráfico Humano e trabalho Escravo</a>
        <a href="contacto.html">Contcato</a>
    </div>
    <hr width="100%" color="white">
    <div class="copyright">
        &copy;2023, KEYLINE AGENCE
    </div>
</section>
