
  <section id="header" >
            <a class="logo" href="http://127.0.0.1:5501/index.html">KEYLINE</a>
            <div>
                <ul id="navbar">
                    <li><a href="http://127.0.0.1:5501/index.html">Home</a></li>
                    <li><a href="http://127.0.0.1:5501/empresa.html">Empresa</a></li>
                    <li><a href="http://127.0.0.1:5501/candidato.html">Candidato</a></li>
                    <li><a href="http://127.0.0.1:5501/sobre.html">Sobre</a></li>
                    <li><a href="http://127.0.0.1:5501/contacto.html">Contacto</a></li>
                    <li><a href="login.html"><i class="fa-regular fa-user"></i></a></li>
                    <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
                    
                </ul>
            </div>
            <div id="mobile">
                <i id="bar" class="fa-solid fa-bars  fa-2x" ></i>
            </div>
        </section>
